interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://crimsonlotustea.com/products.json?limit=250&page=1
  response:
    body:
      string: "{\"products\":[{\"id\":10357718024508,\"title\":\"2025 \\\"The Spellbound
        Stag\\\" Kunlu Shan Big Tree Bai Cha \\/ White Tea - 200g Cake\",\"handle\":\"2025-kunlu-shan-old-tree-aged-bai-cha-white-tea-200g-cake\",\"body_html\":\"\\u003cp\\u003eWe
        went to Kunlu Shan sheng hunting but were impressed with the white teas that
        we found. We created this blend to highlight the amazing experience we had
        with these white teas. This is primarily a blend of their big tree white,
        but there is some old tree material in there as well.\\u003c\\/p\\u003e\\n\\u003cp\\u003eThis
        tea is very floral with blood orange citrus notes and a hint of ripe banana.
        The color is rich. It is sweet, jui[...]
