interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://white2tea.com/products.json?limit=250&page=1
  response:
    body:
      string: "{\"products\":[{\"id\":9000694808804,\"title\":\"Blood Skull Dragon
        Egg Teapot\",\"handle\":\"blood-skull-dragon-egg-teapot\",\"body_html\":\"\\u003cp\\u003eA
        blood red glazed dragon egg shaped teapot with a skull on the lid.\_\\u003c\\/p\\u003e\\n\\u003cp\\u003eDesigned
        and commissioned by white2tea, each teapot has natural variations as one would
        expect with objects that are detailed by hand and fired in a kiln. Embrace
        the unique characteristics of each pot!\\u003cbr\\u003e\\u003cbr\\u003eEach
        purchase is for one teapot.\\u003cbr\\u003e\\u003cbr\\u003eTeapot Dimensions:\\u003cbr\\u003e\\u003cbr\\u003eVolume:
        ~ 140 ml\_\\u003cbr\\u003e\\u003cbr\\u003eHeight: ~ 7.5 cm\\u003c\\/p\\u003e\\n\\u003cp\\u003eLength:~
        11 cm\\u003cbr\\u003e\\u003cbr\\u003eDiameter: ~ 9 cm\\u003cbr\\u003e\\u003cbr\\u003eWeight:
        ~165g\\u003cbr\\u003e\\u003c\\/p\\u003e\",\"published_at\":\"2026-04-16T05:47:31-07:00\",\"created_at\":\"2026-04-16T02:53:34-07:00\",\"updated_at\":\"2026-05-16T03:32:50-07:00\",\"vendor\":\"white2tea\",\"product_type\":\"Non-Tea\",\"tags\":[\"Non-Tea\"],\"variants\":[{\"id\":48741620220132,\"title\":\"1
        Teapot\",\"option1\":\"1 Teapot\",\"option2\":null,\"option3\":null,\"sku\":\"12005\",\"requires_shipping\":true,\"taxable\":true,\"featured_image\":null,\"available\":false,\"price\":\"189.00\",\"grams\":0,\"compare_at_price\":null,\"position\":1,\"product_id\":9000694808804,\"created_at\":\"2026-04-16T02:53:34-07:00\",\"updated_at\":\"2026-05-16T03:32:50-07:00\"}],\"images\":[{\"id\":81556493598948,\"created_at\":\"2026-04-16T02:53:52-07:00\",\"position\":1,\"updated_at\":\"2026-04-16T02:54:00-07:00\",\"product_id\":9000694808804,\"variant_ids\":[],\"src\":\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0313\\/6064\\/7305\\/files\\/2026BloodSkullTeapot.jpg?v=1776333240\",\"width\":800,\"height\":800},{\"id\":81556493533412,\"created_at\":\"2026-04-16T02:53:52-07:00\",\"position\":2,\"updated_at\":\"2026-04-16T02:54:00-07:00\",\"product_id\":9000694808804,\"variant_ids\":[],\"src\":\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0313\\/6064\\/7305\\/files\\/2026BloodSkullTeapot-2.jpg?v=1776333240\",\"width\":800,\"height\":800},{\"id\":81556493566180,\"created_at\":\"2026-04-16T02:53:52-07:00\",\"position\":3,\"updated_at\":\"2026-04-16T02:54:00-07:00\",\"product_id\":9000694808804,\"variant_ids\":[],\"src\":\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0313\\/6064\\/7305\\/files\\/2026BloodSkullTeapot-3.jpg?v=1776333240\",\"width\":800,\"height\":800}],\"options\":[{\"name\":\"Amount\",\"position\":1,\"values\":[\"1
        Teapot\"]}]},{\"id\":9000694710500,\"title\":\"Blood Skull Ruyao Douli Teacup\",\"handle\":\"blood-skull-ruyao-douli-teacup\",\"body_html\":\"\\u003cp\\u003eThe
        skull teacup was designed and commissioned by white2tea.\\u003cbr\\u003e\\u003cbr\\u003eA
        blood red glazed teacup with a skull on the side.\_\\u003c\\/p\\u003e\\n\\u003cp\\u003eDesigned
        and commissioned by white2tea, each teacup has natural variations as one would
        expect with handmade and hand glazed teaware. Embrace the unique characteristics
        of each teacup!\\u003cbr\\u003e\\u003cbr\\u003eEach purchase is for one teacup.\\u003cbr\\u003e\\u003cbr\\u003eTeacup
        dimensions:\\u003cbr\\u003e\\u003cbr\\u003eVolume: ~150ml\\u003cbr\\u003e\\u003cbr\\u003eHeight:
        ~ 9 cm\\u003cbr\\u003e\\u003cbr\\u003eDiameter : ~ 5.8 cm\\u003cbr\\u003e\\u003cbr\\u003eWeight:
        ~ 145 g\\u003cbr\\u003e\\u003cbr\\u003e\\u003c\\/p\\u003e\",\"published_at\":\"2026-04-16T05:47:30-07:00\",\"created_at\":\"2026-04-16T02:52:00-07:00\",\"updated_at\":\"2026-05-16T03:32:50-07:00\",\"vendor\":\"white2tea\",\"product_type\":\"Non-Tea\",\"tags\":[\"Non-Tea\"],\"variants\":[{\"id\":48741[...]
[...]
